#square_div {
	position: absolute;
	left: 25%;
	top: 5.5%;
	width: 20%;
	height: 80%;
	overflow: auto;
	border: solid 1px #000;
	padding: 1%;
}
@media only screen and (max-device-width: 480px) {
	#square_div {
		position: relative;
		left: 10%;
		height: 80%;
		width: 80%;
	}
}

.square {
	float: left;
	width: 48.5%;
	margin-left: 1%;
	margin-bottom: 1%;
	height: 20%;
	cursor: pointer;
}
@media only screen and (max-device-width: 480px) {
	.square {
		float: left;
		height: 20%;
		width: 48.5%;
	}
}
#timer {
	float: left;
	color: #C00000;
	font-size: 25px;
	margin-right: 3%;
}
#score {
	float: left;
	color: #588D30;
	font-size: 23px;
}
#text {
	position: relative;
	left: 25%;
	top: 0.2%;
	overflow: auto;
}
#tip {
	position: relative;
	top: 30px;
	left: 0%;
	width: 100%;
}
@media only screen and (max-device-width: 480px) {
	#timer, #score, #tip {
		font-size: 50px;
	}
}
#gameover {
	position: absolute;
	top: 40%;
	z-index: 999;
	width: 100%;
	height: 100%;
}
#gameover h3 {
	font-size: 50px;
	text-align: center;
	cursor: pointer;
}